<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item">Cohorts</li>
    <li class="breadcrumb-item active">Edit</li>
  </ol> 

<div class="container">
  <div class="card w-100">
   <div class="card-body">
  <%=bootstrap_form_for @cohort do |f| %>
    <%= f.hidden_field :cohort_id, value: params[:id] %>
    <%= f.text_field :name, placeholder: "Cohort Name" %>
    <%= f.select :course_id, Course.all.map{|x| [x.name, x.id]} %>
    <%= f.select :teacher_id, Teacher.all.map{|x| [x.first_name + ' ' + x.last_name, x.id]} %>
    <%= f.text_field :start_date, placeholder: "MM/DD/YYYY" %>
    <%= f.text_field :end_date, placeholder: "MM/DD/YYYY" %>
    <br>
    <%= f.submit "Edit Cohort", class: "btn btn-warning" %> &nbsp;&nbsp; <%= link_to("Go Back", cohorts_path, class: 'btn btn-secondary') %>
  <% end %>
   </div>
  </div>
</div>
<br>
</div>
</div>