<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Cohorts</li>
  </ol>
  <br>
<center><h3 class="cohort-table"> Cohort Roster </h3>
  <br>
 <table class="table table-hover">
   <tr>
    <td scope="col">ID</td>
    <td scope="col">Cohort Name</td>
    <td scope="col">Course Name</td>
    <td style="padding-left: 65px;"scope="col">Teacher</td>
    <td style="padding-left: 85px;"scope="col">Start Date</td>
    <td style="padding-left: 85px;"scope="col">End Date</td>
    <td style="margin-left: 85px;"></td>
    <td style="margin-left: 85px;"></td>
    <td style="margin-left: 85px;"></td>
   </tr>
   <% @cohorts.each do |cohort| %>
   <% @course = Course.find(cohort.course_id) %>
   <% @teacher = Teacher.find(cohort.teacher_id) %>
    <tr id="cohort-<%= cohort.id %>">
     <td scope="row"><%= cohort.id %></td>
     <td><%= cohort.name %></td>
     <td><%= @course.name %></td>
     <td style="padding-left: 65px;"><%= @teacher.first_name %> <%= @teacher.last_name %></td>
     <td style="padding-left: 85px;"><%= cohort.start_date %></td>
     <td style="padding-left: 85px;"><%= cohort.end_date %></td>
     <td style="margin-left: 85px;"><%= link_to "View", cohort_path(cohort), class: 'btn btn-info' %></td>
     <td style="margin-left: 85px;"><%= link_to("Edit", edit_cohort_path(cohort), class: 'btn btn-warning') %></td>
     <td style="margin-left: 85px;"><%= link_to "Delete", cohort, method: :delete, data: {confirm: 'Are you certain about deleting this cohort?'}, class: 'btn btn-danger' %></td>
    </tr>
   <% end %>
  </table>
  <br>
  <br>
<%= link_to "Add New Cohort", new_cohort_path, class: 'btn btn-success' %>
  <br>
  <br>
  <br>
  <br>
</div>
</div></center>
 

