<h3 class="cohort-table"> Cohort Roster </h3>
 <table class="table table-hover">
  <thead>
   <tr>
    <th scope="col">ID</th>
    <th scope="col">Icon</th>
    <th scope="col">Cohort Name</th>
    <th scope="col">Course Name</th>
    <th scope="col">Teacher</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th>View<th>
    <th>Add</th>
    <th>Edit</th>
    <th>Delete</th>
   </tr>
  </thead>
  <tbody>
   <% @cohorts.each do |cohort| %>
   <% @course = Course.find(cohort.course_id) %>
   <% @teacher = Teacher.find(cohort.teacher_id) %>
    <tr>
     <td scope="row"><%= cohort.id %></td>
     <td><%= cohort.icon_url %></td>
     <td><%= cohort.name %></td>
     <td><%= @course.name %></td>
     <td><%= @teacher.first_name %> <%= @teacher.last_name %></td>
     <td><%= cohort.start_date %><td>
     <td><%= cohort.end_date %><td>
     <td><%= link_to("View", "/cohorts/<%=cohort.id%>") %></td>
     <td><%= link_to("Add", "/cohorts/new") %></td>
     <td><%= link_to("Edit", "/cohorts/<%cohort.id%>/edit") %></td>
     <td><%= link_to("Delete", cohort_path(@cohort), method: :delete, data: {confirm: 'Are you certain about deleting this cohort?'} %></td>
    </tr>
   <% end %>
  </tbody>
  </table>
 

