<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item">Cohorts</li>
    <li class="breadcrumb-item active">View</li>
  </ol>
   
<% @course = Course.find(@cohort.course_id) %>  
<% @teacher = Teacher.find(@cohort.teacher_id) %>
<div class="container">
  <div class="card w-100">
   <div class="card-body">
    <h3 class="cohort-profile"> <%= @cohort.name %> </h3>
    <br>
    <h3> ID:  <%= @cohort.id %> </h3>
    <br>
    <h3> Course Name:  <%= @course.name %> </h3>
    <br>
    <h3> Teacher:  <%= @teacher.first_name %> <%= @teacher.last_name %> </h3>
    <br>
    <h3> Start Date:  <%= @cohort.start_date %> </h3>
    <br>
    <h3> End Date:  <%= @cohort.end_date %> </h3>
    <br>
    <%= link_to("Go Back", cohorts_path, class: 'btn btn-secondary') %> &nbsp;&nbsp; <%= link_to "Edit", edit_cohort_path(@cohort), class: 'btn btn-warning' %>
    <br>
   </div>
  </div>
</div>
<br>
<br>
<br>
<center><h3 class="student-cohort-table"> Student Cohort Roster </h3>
<br>
<table class="table table-hover">
  <tr>
    <td width="30%" scope="col">ID</td>
    <td width="30%" scope="col">Student Name</td>
    <td width="30%" scope="col">Age</td>
    <td width="30%" scope="col">Date of Birth</td>
    <td width="30%" scope="col">Year</td>
  </tr>
  <% @students.each_with_index do |student, index| %>
  <tr>
     <td scope="row"><%= student.id %></td>
     <td><%= student.first_name %> <%= student.last_name %></td>
     <td><%= student.age %></td>
     <td><%= student.date_of_birth %></td>
     <td><%= student.year %></td>
  </tr>
  <% end %>
</table>
</div>
</div></center>