<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item">Students</li>
    <li class="breadcrumb-item active">Edit</li>
  </ol> 

<div class="container">
  <div class="card w-100">
   <div class="card-body">
   <%=bootstrap_form_for @student do |f| %>
     <%= f.hidden_field :student_id, value: params[:id] %>
     <%= f.text_field :first_name, placeholder: "First Name" %>
     <%= f.text_field :last_name, placeholder: "Last Name" %>
     <%= f.number_field :age, placeholder: "Age" %>
     <%= f.text_field :date_of_birth, placeholder: "Month Date, Year" %>
     <%= f.text_field :year, placeholder: "Year" %>
     <br>
     <%= f.submit "Edit Student", class: "btn btn-warning" %>
   <% end %>
   </div>
  </div>
</div> 
<br>
</div>
</div>

