<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Students</li>
  </ol>
  <br>
<center><h3 class="student-table"> Student Roster </h3>
  <br>
 <table class="table table-hover">
   <tr>
    <td style="padding-left: 12px;" scope="col">ID</td>
    <td style="padding-left: 85px;" scope="col">First Name</td>
    <td style="padding-left: 85px;" scope="col">Last Name</td>
    <td style="padding-left: 85px;" scope="col">Age</td>
    <td style="padding-left: 85px;" scope="col">Date of Birth</td>
    <td style="padding-left: 85px;" scope="col">Year</td>
    <td style="margin-left: 65px;"></td>
    <td style="margin-left: 85px;"></td>
    <td style=style="margin-left: 85px;"></td>
   </tr>
   <% @students.each do |student| %>
   <tr id="student-<%= student.id %>">
     <td style="padding-left: 12px;" scope="row"><%= student.id %></td>
     <td style="padding-left: 85px;"><%= student.first_name %></td>
     <td style="padding-left: 85px;"><%= student.last_name %></td>
     <td style="padding-left: 85px;"><%= student.age %></td>
     <td style="padding-left: 85px;"><%= student.date_of_birth %></td>
     <td style="padding-left: 85px;"><%= student.year %></td>
     <td style="margin-left: 65px;"><%= link_to "View", student_path(student), class: 'btn btn-info' %></td>
     <td style="margin-left: 85px;"><%= link_to("Edit", edit_student_path(student), class: 'btn btn-warning') %></td>
     <td style="margin-left: 85px;"><%= link_to "Delete", student, method: :delete, data: {confirm: 'Are you certain about deleting this student?'}, class: 'btn btn-danger' %></td>
   </tr>
   <% end %>
</table>
<br>
<br>
<%= link_to "Add New Student", new_student_path, class: 'btn btn-success' %>
<br>
<br>
<br>
<br>
</div>
</div></center>