<div class="container">
 <div class="card-body">
  <%=bootstrap_form_for @student do |f| %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <%= f.number_field :age, placeholder: "Age" %>
    <%= f.text_field :date_of_birth, placeholder: "Month Date, Year" %>
    <%= f.text_field :year, placeholder: "Year" %>
    <%= f.submit "Add Student", class: "btn btn-success" %>
  <% end %>
 </div>
</div>