<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item">Students</li>
    <li class="breadcrumb-item active">View</li>
  </ol> 

<div class="container">
 <div class="card w-100">
  <div class="card-body">
   <h3 class="student-profile"> <%= @student.full_name %> </h3>
   <br>
   <h3> ID:  <%= @student.id %> </h3>
   <br>
   <h3> Age:  <%= @student.age %> </h3>
   <br>
   <h3> Date of Birth:  <%= @student.date_of_birth %> </h3>
   <br>
   <h3> Year:  <%= @student.year %> </h3>
   <br>
   <%= link_to("Go Back", students_path, class: 'btn btn-secondary') %> &nbsp;&nbsp; <%= link_to "Edit", edit_student_path(@student), class: 'btn btn-warning' %>
   <br>
  </div>
 </div>
</div>
<br>
</div>
</div>