<div id="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item">Teachers</li>
    <li class="breadcrumb-item active">Add</li>
  </ol> 

<div class="container">
  <div class="card w-100">
   <div class="card-body">
  <%=bootstrap_form_for @teacher do |f| %>
    <%= f.hidden_field :teacher_id, value: params[:id] %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <%= f.number_field :age, placeholder: "Age" %>
    <%= f.text_field :date_of_birth, placeholder: "Month Date, Year" %>
    <%= f.number_field :salary, placeholder: "Salary" %>
    <%= f.text_field :education, placeholder: "Education" %>
    <br>
    <%= f.submit "Add Teacher", class: "btn btn-success" %>
  <% end %>
 </div>
</div>
<br>
</div>
</div>