<div class="container">
 <div class="card-body">
  <%=bootstrap_form_for @teacher do |f| %>
    <%= f.text_field :first_name, placeholder: "First Name" %>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
    <%= f.number_field :age, placeholder: "Age" %>
    <%= f.text_field :date_of_birth, placeholder: "Month Date, Year" %>
    <%= f.number_field :salary, placeholder: "Salary" %>
    <%= f.text_field :education, placeholder: "Education" %>
    <%= f.submit "Add Teacher", class: "btn btn-success" %>
  <% end %>
 </div>
</div>