<h3 class="teacher-profile"> "#{@teacher.full_name}" </h3>
 <div class="container">
  <div class="card-body">
   <h3> ID <%= @teacher.id %> </h3>
   <br>
   <h3> Photo <%= @teacher.photo_url %> </h3>
   <br>
   <h3> Age <%= @teacher.age %> </h3>
   <br>
   <h3> Date of Birth <%= @teacher.date_of_birth %> </h3>
   <br>
   <h3> Fair <%= @teacher.fair %> </h3>
   <br>
   <h3> Salary <%= @teacher.salary %> </h3>
   <br>
   <h3> Education <%= @teacher.education %> </h3>
   <br>
   <h3> Subject <%= @teacher.subject %> </h3>
   <br>
   <h3> Username <%= @teacher.username %> </h3>
   <br>
   <a href"/teachers"><h3>Back to Teachers</h3></a>
   <br>
  </div>
 </div>