<div class="content-wrapper">
<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Courses</li>
  </ol>

<h3 class="course-table"> Course Roster </h3>
 <table class="table table-hover">
   <tr>
    <td scope="col">ID</td>
    <td scope="col">Course Name</td>
    <td scope="col">Location</td>
    <td scope="col">Description</td>
    <td scope="col">Class Hours</td>
    <td></th>
    <td></th>
    <td></th>
   </tr>
   <% @courses.each do |course| %>
    <tr>
     <td scope="row"><%= course.id %></td>
     <td><%= course.name %></td>
     <td><%= course.location %></td>
     <td><%= course.description %></td>
     <td><%= course.class_hours %></td>
     <td><%= link_to "Add", new_course_path %></td>
     <td><%= link_to "Edit", edit_course_path(course) %></td>
     <td><%= link_to "Delete", course, method: :delete, data: {confirm: 'Are you certain about deleting this course?'} %></td>
    </tr>
   <% end %>
  </table>
<div>
<div>

