<h3 class="course-profile"> "#{@course.name}" </h3>
 <div class="container">
  <div class="card-body">
   <h3> ID <%= @course.id %> </h3>
   <br>
   <h3> Icon <%= @course.icon_url %> </h3>
   <br>
   <h3> Location <%= @course.location %> </h3>
   <br>
   <h3> Description <%= @course.description %> </h3>
   <br>
   <h3> Class Hours <%= @course.class_hours %> </h3>
   <br>
   <a href"/courses"><h3>Back to Courses</h3></a>
   <br>
  </div>
 </div>
